# Ignore build  log and install directories
catkin_ws/log/
catkin_ws/build/
catkin_ws/install/

# Ignore generated graph files
catkin_ws/frames_*.gv
catkin_ws/frames_*.pdf

# Ignore generated trajectory comparison image
catkin_ws/src/*.png

# Ignore all files in experiment bags
catkin_ws/src/experiment_bags/